@import "src/_more-scss/variables.scss";

.landing {
  width: 100vw;
  // margin top that is equal to the width of the header
  margin-top: $headerHeight;
}

.landing-pgraph {
  color: white;
  padding: 0.3rem;
  text-align: right;
  margin-left: 4rem;

  p {
    margin: 0 0; // remove the margins that are normally on the paragraph
  }
}

.socialMedia-links {
  float: right;
  padding-right: 0.3rem;
}
