<!-- about section -->
<section class="about">
  <div class="image-wrapper">
    <img src="../assets/img/apple.jpeg" />
  </div>
  <div class="about-pgraph">
    <p>
      The <b class="NSA-text">Nigerian Students Association (NSA)</b> at Harvard
      College is an organization founded in 2004 by a group of Nigerian
      undergraduate students. NSA has grown both in numbers and respect to
      become one of the leading organizations for students on campus. Based on
      the common culture and values of Nigerian and Nigerian American students
      on campus, the NSA has not only created a community for Nigerians to come
      together, but has also spread an appreciation for the Nigerian culture
      throughout campus through various activities and events.
    </p>
  </div>
</section>
