<!-- gala section -->
<section class="gala">
  <div class="gala-title">
    <div class="arrow-accent"></div>
    <h1>And We Can Really Put On A Show</h1>
  </div>
  <div class="gala-pgraph">
    <p>
      <span
        ><h2>Our Annual Independence Day Gala is...</h2>
        <!-- <span style="color: #caffb9">▷  </span> -->
        <div class="gala-text">
          Here will go some text that explains what this gala is. It should be
          substantive yet some text that explains what this gala is. It should
          be substantive yet nice. nice.
        </div></span
      >
    </p>
    <div class="pgraph-link">
      <div class="arrow-accent"></div>
      <a routerLink="/">GET GALA TICKETS</a><br />
      <a routerLink="/">NOT CONVINCED? – FIND OUT MORE</a>
    </div>
  </div>
  <div class="image-wrapper">
    gala picture
    <img src="../assets/img/apple.jpeg" />
  </div>
</section>
