<!-- contact section -->
<section class="contact">
  <div class="contact-title">
    <div class="arrow-accent"></div>
    <h3>Send Us Messages (& Gifts)</h3>
  </div>
  <div class="contact-message">
    <input type="text" placeholder="Name" />
    <input type="text" placeholder="Email" />
    <textarea type="text" placeholder="Message"></textarea>
  </div>
  <div class="socialMedia-info">
    <a>
      <svg class="icon-svg" viewBox="0 0 100 100">
        <use xlink:href="#facebook-icon" x="0" y="0" />
      </svg>
    </a>

    <a>
      <svg class="icon-svg" viewBox="0 0 100 100">
        <use xlink:href="#insta-icon" x="0" y="0" />
      </svg>
    </a>
  </div>
  <div class="address">
    SOCH Box #324 59 Sheppard Street Cambridge, MA 02138 USA
  </div>
  <div class="email">
    harvardnsa10@gmail.com
  </div>
</section>
