<header>
  <a routerLink="/"
    ><div class="logo-wrapper">
      <img src="../assets/img/nsalogoorg.png" /></div
  ></a>

  <nav>
    <button (click)="openNav()" class="nav-button"><div class="nav-text">MENU</div></button>
    <div class="nav-background">
      <!-- .button-container just positions the button on the right bc float wasn't working -->
      <div class="button-container">
        <button (click)="closeNav()" class="nav-button-close">
          <div>CLOSE</div>
        </button>
      </div>
      <ul class="nav-menu">
   
        <li>
          <a routerLink="/">ABOUT</a>
        </li>
        <li>
          <a routerLink="/">INITIATIVES</a>
        </li>
        <li>
          <a routerLink="/">BOARD</a>
        </li>
        <li>
          <a routerLink="/gala">GALA</a>
        </li>
        <li>
          <a routerLink="/">CONTACT US</a>
          <div class="nav-email">(harvardnsa10@gmail.com)</div>
        </li>
      </ul>
    </div>
  </nav>
</header>
