@import "src/_more-scss/variables.scss";

.emailBanner {
  background-color: $neonGreen;
  margin: 3rem 0;
  padding: 0.5rem 0.3rem;
  text-align: center;
  box-shadow: $boxShadow;
}

input {
  @include modern-input();
  width: 80vw;
  margin-bottom: 0.8rem;
}

.emailBanner-button {
  @include trad-button($deepGreen);
  width: 6rem;
}

/******************* styles for desktop ****************/
@include desktop {
  .emailBanner {
    margin: 0;
    position: relative;
    padding: 3rem 0.3rem;
    font-size: larger;
  }
}
