// base fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,400i,700&display=swap");

// fancy font
@import url("https://fonts.googleapis.com/css?family=Petit+Formal+Script&display=swap");

// other scss modules
@import "src/_more-scss/variables.scss";
//@import "../node_modules/rfs/scss";

* {
  // make the padding and margin make more sense
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0 0;
  // get rid of that horizantal scroll
  max-width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  background-color: $bodyColor;
  font-family: "Roboto", sans-serif;
  color: darken($gray, 10%);
}

// probably not the best place for this -- depends on structure of app
.image-wrapper {
  @include imageWrap(100vw, 30vh);
}

img {
  // allow image size and position to be controlled by the div
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

// responsiveness
.desktop-only {
  display: none;
}

/************* Reset button, link, and list styles *************/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  // take the width and height of the div inside the button
  width: min-content;
  height: min-content;
}

button:disabled {
  opacity: 0.3;
}

a {
  text-decoration: none;
  color: $mint; //random color here
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/************* social media icons *************/
// all viewboxes are viewBox="0 0 100 100"
.icon-svg {
  //border: 1px solid orange; // use to see where the canvas for the svg is
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.3rem;
}

.insta-svg-path {
  transform: scale(0.6, 0.6);
}

.facebook-svg-path {
  transform: scale(1.1, 1.1);
}

/************* global styles *************/

// include on a case by case basis
// button {
//   @include trad-button(#324a5f);
// }

// change later to be included on a case by case basis
h2 a {
  @include cute-link($gray, $deepGreen, $mint);
  padding: 0.2rem;
  margin-bottom: 2px;
  font-family: neue-haas-unica, sans-serif;
  font-weight: lighter;
  font-style: italic;
}

a {
  @include reg-link($gray);
}

h1 {
  @include header1(right, $deepGreen);
  margin: 0;
}

h2 {
  @include header2();
  margin: 0;
}

h3 {
  margin: 0;
}
/// not these though
.pgraph-link {
  font-weight: bold;
  text-transform: uppercase;
  // padding: 1rem;
}

.pgraph-btn {
  font-weight: bold;
  text-transform: uppercase;
  // padding: 1rem;
}
