
<app-landing></app-landing>
<app-email-banner></app-email-banner>
<app-about></app-about>
<app-initiatives></app-initiatives>
<app-social-media></app-social-media>
<app-board></app-board>
<app-sponsors></app-sponsors>
<app-gala></app-gala>
<app-contact></app-contact>


<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"             title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
