<!-- sponsors section -->
<section class="sponsors">
  <div class="sponsors-title">
    <div class="arrow-accent"></div>
    <h1>We Looove Our Sponsors</h1>
  </div>
  <div class="sponsors-links">
    <ul>
      <li>
        <a>an image link will go here</a>
      </li>
    </ul>
  </div>
  <div class="sponsors-pull">
    <!-- use read-more button method -->
    <input type="checkbox" class="read-more-state" id="hide-and-seek" />
    <div class="arrow-action"></div>
    <div class="pgraph-btn">
      <label for="hide-and-seek" class="read-more-trigger"
        ><a>interested in being a sponsor?</a></label
      >
    </div>
    <div class="read-more-target">
      <div class="perk-text-1">PERKS INCLUDE:</div>
      <ul class="perk-list">
        <li><span style="color: #caffb9">○ </span>First Perk</li>
        <li><span style="color: #caffb9">○ </span>Second Perk</li>
        <li><span style="color: #caffb9">○ </span>Third Perk</li>
      </ul>
      <div class="perk-text-2">
        Shoot us an email for more details!
      </div>
    </div>
  </div>
</section>
