// @import 'src/_more-scss/variables.scss'; --> copy this link  to other files

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600&display=swap");

// define colors as variables here :)
$bodyColor: #324a5f;
$mint: #caffb9;
$offWhite: rgba(255, 255, 255, 0.705);
$neonGreen: yellowgreen;
$superNeonGreen: greenyellow;
$deepGreen: #4da167;
$gray: #201f1e;

// global scss variables
$headerZ: 100;
$headerHeight: 7rem;

// elemnt add ons
$boxShadow: 0px 1px 2px rgba(43, 41, 41, 0.212);

@mixin imageWrap($width: 30vw, $height: 30vh) {
  // allow the image size and position to be controlled by the div
  position: relative;
  // crop images if they are bigger than the image-wrapper div
  overflow: hidden;
  // aspect ration look for mobile
  width: $width;
  height: $height;
}

@mixin bold-button($color) {
  color: $color;
  border: none;
  display: inline-block;
  padding: 0.2rem 0.4rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;

  &:hover {
    transition: all 0.1s ease;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

@mixin trad-button($bg-color) {
  background-color: $bg-color;
  color: $offWhite;
  //border: 0.1rem solid rgba(255, 255, 255, 0.705);
  display: inline-block;
  padding: 0.2rem 0.4rem;
  //border-radius: 0.25rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;

  &:hover {
    background-color: $offWhite;
    color: $bg-color;
    transition: all 0.2s ease;
  }
}

@mixin nav-link($color) {
  color: $color;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  display: inline-block;
  padding: 0.5rem;
  position: relative;
  font-weight: 500;
  margin: 0.25rem;

  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  &:hover:after {
    width: 100%;
    left: 0;
  }
}

@mixin cute-link($color, $grad-color-1, $grad-color-2) {
  color: $color;
  padding: 0.2rem;
  text-transform: none;
  font-style: normal;
  background-image: linear-gradient(
    120deg,
    #{$grad-color-1} 0%,
    #{$grad-color-2} 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;

  &:hover {
    background-size: 100% 88%;
  }
}

@mixin reg-link($color) {
  $link-color: lighten($color, 0.1%);
  color: $link-color;
  text-decoration: none;
  background-image: linear-gradient($link-color, $link-color);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;

  &:hover {
    background-size: 100% 2px;
  }
}

@mixin header1($align, $shadow) {
  color: white;
  text-shadow: 2px 2px #{$shadow};
  font-size: 2.5rem;
  text-align: $align;
  padding: 1rem;
}

@mixin header2() {
  color: $mint;
  text-transform: uppercase;
  font-style: italic;
  font-variant: small-caps;
  padding: 0.2rem 0.75rem;
}

// make the input fields look modern
@mixin modern-input() {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}
